ion-toolbar {
    --background: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

ion-input {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: -9.5px;
}

ion-button {
    --background: rgb(0, 0, 0);
}

.error-message {
    font-size: 0.8em;
    color: red;
    text-align: center;
}